<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241101083436-gcfq4ubapva5oe00aq5krdivhumcka2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241101083436-gcfq4ubapva5oe00aq5krdivhumcka2g</string>
	<key>API_KEY</key>
	<string>AIzaSyBxDcWkiLHLBSoqGisK52JcnR4GgJ_TVO0</string>
	<key>GCM_SENDER_ID</key>
	<string>241101083436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.fcm</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-92c67</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-92c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241101083436:ios:dcff4c83a14bbadf0e9289</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-92c67.firebaseio.com</string>
</dict>
</plist>